html,
input{
  /* font-family:'montserrat-regular'; */
}

nav {
  background-color: #000;
}

/* .row {
  margin: 0 auto;
}

.row .col.s4 {
  width: 30.33% !important;
  padding: 0 !important;
} */
.stack-grid img{
  width: 100%;
}
.padding-top-15 {
  padding-top: 15px;
}

.card {
  border: 0px;
  box-shadow: none;
  display: flex;
  margin: 0px 0px 5px 0px;
}

.card .card-content {
  padding: 10px 24px 10px 24px;

}

.card-title{
  margin: 0px;
}
.card-details {
  margin: 20px 0px 0px 0px;
  padding: 0px;
}
.card-artist {
  font-size: 18px;
}
.card-material,
.card-dimension  {
   color: #AAA;
   font-size: 0.75rem;
}
.card-remove-item{
  position: absolute;
  top: 12px;
  right: 12px;
  text-align: right;
}

.well{
  margin: auto;
  width: 100%;
}
.main-pic-price{
  position: absolute;
  bottom: 12px;
  right: 12px;
  text-align: right;
}

.item-container {
  width: 100%;
}

.card-columns {
  column-count: 3;
  display: inline-block;
  /* -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px; */
}

.column-left,
.column-right,
.column-center-bottom {
  column-count: 2;
  display: inline-block;
  /* -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
   column-gap: 5px; */
}

.card-columns img {
  width: 100%;
}

.shopping_cart_with_badge{

  display: -webkit-box;
}

.shopping_cart_with_badge .badge{
  font-family: 'montserrat-semibold';
  color: white;

  background-color: red;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
